---
import Section from "../components/Section.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Heading from "../components/Heading.astro";
---

<BaseLayout>
	<Section class="bg-linear-to-b from-[#d0e7ff] to-white">
		<Heading class="text-center">Your Gateway to <span class="text-primary italic">Germany,</span> Europe & Beyond</Heading>
	</Section>
</BaseLayout>
